*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 3px;
    max-width: 1200px;
   
}
.margen-lateral{
    margin: 0 25px 0 25px;
}
    .header{
        background: url(imagenes/header.jpg); 
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        margin: 0 37px 0 32px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 500px;
        
}
        .menu{
            display: flex;
            flex-flow: row nowrap;      
            height: 100px;
            align-items: center; 
            font-size: 20px;
        }
            .logo{
               flex: 1 1 auto;
            }
            .logo img{
                animation: rotar ease 20s infinite;
            }
           .nav{
               flex: 5 1 auto;
               display: flex;
               justify-content: space-around;
             }
             .nav a{
                color: rgb(96, 90, 90); 
             }
             .nav a:hover{
                color: rgb(220, 94, 161);
             }
            .redes{
               flex: 1 1 auto;
               display: flex;
               justify-content: flex-end; 
            }
            .redes a{
                color: dimgray; 
            }
            .redes a:hover{
                color: rgb(220, 94, 161);
            }
        .titulo{
            background: rgb(0, 0, 0, 0.1);
            height: 200px;
            margin: 180px 100px 0 100px;
            display: flex;
            align-items: center;
            justify-content: center;  
          
        }
            h1{
                color: rgba(179, 133, 18, 0.5);
                padding-bottom: 50px;
                animation: movimiento 15s linear infinite;
            }    
    .section{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: -7px -5px -7px 20px;
    }
        .articulos{
            background: rgb(0, 0, 0, 0.1);
            flex: 2 1 75%;
            display: flex;
            flex-flow: row wrap;
         
        }
            .article{
                background: #fff;
                flex: 1 1 40%;
                color: dimgrey;
                font-size: 15px;
            }
            .article img{
                width: 98%;
                height: 55%;
                margin: 2px;
             }
            .article a{
                color: dimgrey;
            }
            .article p{
               column-count: 2;
            }
            h4{
                color: #f4e66a;
                font-size: 20px;
                margin-top: -50px;
                padding: 10px;
            }
            h2{
                color: aliceblue;
                background-color: rgb(220, 94, 161);
            }
            .p{
               flex: 1 1 100%;
               text-align: center;
            }
    .aside{
        background: rgb(0, 0, 0, 0.1);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 3px 37px 2px 0;
        
        
    }
            h3{
             text-align: center; 
           }
    .footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: -8px 37px 0 17px;
       
    }
        .pie{
            background: rgba(92, 90, 90, 0.1);
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
@media all and (max-width: 800px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    .header{
        margin: 0 -5px 5px 20px;
    }
    .section{
        background: #E5D336; 
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
     }
     h1{
        font-size: 8px; 
    }
     .article{
        font-size: 12px;
     }
    .aside{
        background: #E5D336;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4; 
        height: 200px;
        margin: 4px -4px 0 20px;
    }
    .footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5; 
        margin: -8px -4px 0 10px;
    }
    .nav{
        width: 200px;
        font-size: 15px;
    }
}
 @media all and (max-width: 600px){
    .header{
        margin: 0 -4px 0 22px;
    }
    .titulo{
        margin: 8px 100px 20px 100px;
    }
    .menu{
        flex-direction: column;
         height: auto;
     }
    .logo{
        width: 90%;
    }
    .nav{
        width: 90%;
    }
    .redes{
        width: 90%;
    }
    .article{
        font-size: 8px;
     }
    .aside{
        flex-direction: column;
    }
} 
@keyframes rotar{
    from {
        transform: rotate(360deg);
    }
} 
@keyframes movimiento{
    0%{
        padding-bottom: 50px;
        font-size: 22px;
    }
    50%{
        padding-top: 50px;
        font-size: 32px;
    }
    100%{
        padding-bottom: 50px;
        font-size: 22px;
    }
}      
